POSTGRES_PASSWORD=
SECRET_KEY_BASE=
DATABASE_URL=postgres://postgres:password@db:5432/photos_rails_developments
LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_REDIRECT_URL=http://localhost:3000/users/auth/line/callback
HOST_URL=http://localhost:3000/