<div class="ml-2 inline-flex align-text-bottom">
    <span class="bg-gray-800 text-gray-300 text-xs font-bold leading-snug py-0.5 px-1 inline-flex items-center">
        <span class="max-w-xs overflow-hidden truncate">
            任意
        </span>
    </span>
</div>