<div class="container mx-auto pt-12 text-center">
    <%= link_to new_user_session_path, class: 'inline-block text-center' do %>
        <div class="rounded-[40px] p-[20px] w-[300px] bg-red-600 text-white border-0 py-3 flex items-center justify-center text-center whitespace-nowrap leading-snug cursor-pointer">さっそくはじめる</div>
    <% end %>
</div>
